@import "tailwindcss";

/* Custom Scrollbar for Map Container */
#scrollable-map-container::-webkit-scrollbar {
  width: 8px;
}
#scrollable-map-container::-webkit-scrollbar-track {
  background: rgba(9, 9, 11, 0.4);
  border-radius: 9999px;
}
#scrollable-map-container::-webkit-scrollbar-thumb {
  background: rgba(63, 63, 70, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 9999px;
}
#scrollable-map-container::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 85, 247, 0.5);
  border-color: rgba(168, 85, 247, 0.8);
}
